<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Async/Await</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: aqua;">
  <a class="navbar-brand" href="#">Promise</a>
</nav>
<div class="container">
  <div class="my-3">
    <h2>Async/Await</h2>
    <br>

    <div class="row">
      <div class="col-md-4">
        <strong>Ex - 01 : With promise </strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch1()">Buy laptop</button>
        <hr>
        <div id="result1">Data</div>
      </div>
      <div class="col-md-4">
        <strong>Ex - 02 : With Async/Await </strong>
        <hr>
        <button class="btn btn-primary">Buy laptop</button>
        <hr>
        <div id="result2">Data</div>
      </div>
      <div class="col-md-4">
        <strong>Ex - 03 : With Fetch API </strong>
        <hr>
        <button class="btn btn-primary">Buy laptop</button>
        <hr>
        <div id="result3">Data</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
